<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Redwood{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('libs/bootstrap/3.0.3/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('libs/flat-ui/2.1.1/css/flat-ui.css') }}" />
    <link href="{{ asset('bundles/redwoodweb/css/web.css') }}" rel="stylesheet" />
</head>

<body>
    {% set nav = nav|default(null) %}

    <div class="wrap">
        <div class="left-box">

            <!-- head nav -->
            <div class="nav-top">
                <div class="nav-group">
                    <ul class="layout-nav" id='layout-tab'>
                        <li class="active">
                            <a href="#layout-tab-notes" data-toggle="tab">
                                <i class="icon-white-16 icon-home "></i>
                            </a>
                        </li>
                        <li>
                            <a href="#layout-tab-notifications" data-toggle="tab">
                                <i class="icon-white-16 icon-notifications"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#layout-tab-settings" class="avatar" data-toggle="tab">
                                <img alt="mudenglong" src="https://d19weqihs4yh5u.cloudfront.net/avatars/b29b9a42-a2cc-455f-91b0-8e0a5f5f832f/160x160">
                            </a>
                        </li>
             
                  
                  
                    </ul>
                </div>
                <a href="javascript:;" title="redwood" class="logo">logo</a>

            </div>
            <div class="nav-body">
                <div class="sidebar-content">
                    <div id='layout-tab-notes' class='tab-pane'>
                        {% include 'RedwoodWebBundle:Note:base.html.twig' %}
                    </div>
                    <div id='layout-tab-notifications' class='tab-pane'>
                        还没有写 //todo
                    </div>
                    <div id='layout-tab-settings' class='tab-pane'>
                        {% include 'RedwoodWebBundle:Settings:base.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="/about/">关于我</a>
                <a href="/feedback/">问题反馈</a>
                <a href="javascript:;" style="color:red;">
                    <i class="icon-white-16 icon-lock"></i>
                    进入后台
                </a>
            </div>
           
        </div>

        <div class="right-box">
            124654646
            
        </div>
    </div>

    <script>
        var app = {};
        app.debug = {% if app.debug %}true{% else %}false{% endif %};
        app.version = '{{ assets_version() }}';

        {% if script_controller is defined %}
            app.controller = '{{ script_controller }}';
        {% endif %}
    </script>
    <script src="{{ asset('libs/seajs/2.1.1/sea.js') }}"></script>
    <script src="{{ asset('libs/seajs-global-config.js') }}"></script>
    <script type="text/javascript">
        seajs.use('{{ asset('bundles/redwoodweb/js/app.js') }}');
    </script>
</body>
</html>